# ignore ALL .log files
*.log

# ignore PythonEnvironment
PythonEnvironment

#ignore .idea Folder
.idea

#ignore NLP/NLTK_Data folder
NLP/NLTK_Data
*.x86_64
*.pyc
ARVR/Lukas_repo/avr-tasks/
*.model
*.npy
