# ignore ALL .log files
*.log

# ignore PythonEnvironment
PythonEnvironment
PythonEnvrionment

#ignore .idea Folder
.idea

#ignore NLP/NLTK_Data folder
NLP/NLTK_Data
*.x86_64
*.pyc
ARVR/Lukas_repo/avr-tasks/
*.model
*.npy

MAL MNIST Datensatz
MAL/SupportVectorMachines/mnist-dataset/*
.ipynb_checkpoints

SOSE_24/DEV/Shallow Networks to CNN/data
SOSE_24/DEV/CNN_to_Transformers/Lecture5/vit-base-patch16-224-in21k-finetuned-cifar-10/*
SOSE_24/DEV/CNN_to_Transformers/Lecture5/logs/*
*.tar.gz
SOSE_24/DEV/CNN_to_Transformers/Lecture6/data/UTKFace/*
SOSE_24/DL/ModelArchitecturesLearningConcepts/DEL-08-1-Architectures-Learning-Concepts-CNN.pdf
SOSE_24/DEV/SemanticSegmentation/data/*
/SOSE_24/AISP/PoisoningLLM/mnist
*.pt
